.dashboard {
  background-color: rgb(1, 87, 155);
  // background-image: url("https://tctechcrunch2011.files.wordpress.com/2015/08/clouds.jpg");
  background-image: url("http://www.trbimg.com/img-56511adf/turbine/ct-chicago-winter-weather-1122-20151121");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 646px;
  line-height: 22.005px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 118px;
  min-height: 600px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
}