<div class="content">
  <div class="weather">
    <div>
      <div class="location">
        <div class="field">
          <span>Skofja Loka, Slovenia</span>
          <i></i>
        </div>

        <div class="current-location">
          <span class="oi oi-location"></span>
        </div>

      </div>

      <div class="top-info">
        <div class="temperature">
          <div class="number">
            -8
          </div>
          <div class="unit">
            °C
            <div class="alternative">
              °F
            </div>
          </div>
        </div>
        <div class="details">
          <div class="title">
            Sunny
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
