<div class="weather">
  <div>
    <div class="location">
      <div class="field">
        <input type="text" (keyup)="onLocationKeyUp($event)" class="{{getWeatherDataError ? 'error' : ''}}" placeholder="Location" [(ngModel)]="location">
        <span class="oi oi-chevron-right" (click)="getWeatherForLocation()"></span>
      </div>

      <div class="current-location {{currentLocationError ? 'error' : ''}}" (click)="getWeatherForCurrentLocation()">
        <span class="oi oi-location"></span>
      </div>

    </div>

    <div class="top-info">
      <div class="temperature">
        <div class="number">
          {{temperature}}
        </div>
        <div class="unit">
          °{{openWeatherMapApiOptionsService.units == 'metric' ? 'C' : 'F'}}
          <div class="alternative">
            °{{openWeatherMapApiOptionsService.units == 'metric' ? 'F' : 'C'}}
          </div>
        </div>
      </div>
      <div class="details">
        <div class="title">
          {{weather}}
        </div>
        <ul>
          <!-- <li><span>Feels Like</span> -8°</li> -->
          <li><span>Wind</span> {{wind}} km/h</li>
          <li><span>Barometer</span> {{barometer}} mb</li>
          <li><span>Visibility</span> {{visibility}} km</li>
          <li><span>Humidity</span> {{humidity}}%</li>
          <li><span>Sunrise</span> {{sunrise}}</li>
          <li><span>Sunset</span> {{sunset}}</li>
          <!-- <li><span>Dew Point</span> -9°</li> -->
        </ul>
      </div>
    </div>

    <div class="days">
      <span class="button left" href><span class="oi oi-chevron-left"></span></span>
      <span class="button right" href><span class="oi oi-chevron-right"></span></span>
      <ul>
        <app-dashboard-weather-list-item day="FRI" dayOfMonth="17" image="sunny" percipitation="11" high="10" low="-1"></app-dashboard-weather-list-item>
        <app-dashboard-weather-list-item active="true" day="SAT" dayOfMonth="18" image="raining" percipitation="9" high="2" low="-12"></app-dashboard-weather-list-item>
        <app-dashboard-weather-list-item day="SUN" dayOfMonth="19" image="cloudy" percipitation="90" high="12" low="-19"></app-dashboard-weather-list-item>
      </ul>
    </div>
  </div>
</div>
