.dashboard-content-holder {
  background-size: cover;
  background-position: center;
  background-color: rgb(1, 87, 155);
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 646px;
  line-height: 22.005px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 118px;
  min-height: 600px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  >div {
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    font-weight: 400;
    height: 610px;
    line-height: 22.005px;
    margin-bottom: 0px;
    margin-left: 103px;
    margin-right: 103px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
  }
}
