  <iframe class="fullscreen" src="https://www.youtube.com/embed/4Qic1xziHPM?rel=0&amp;playlist=4Qic1xziHPM&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;iv_load_policy=3" frameborder="0" allow="autoplay; encrypted-media"></iframe>

<div class="login-modal-container">
  <h1 class="login-modal-title">Login to Your Account</h1><br>
  <form>
  <input class="login-modal-textbox" type="text" name="user" placeholder="Username">
  <input class="login-modal-textbox" type="password" name="pass" placeholder="Password">
  <input class="login-modal-submit" type="submit" name="login"  value="Login">
  </form>

  <!-- <div class="login-help">
  <a href="#">Register</a> - <a href="#">Forgot Password</a>
  </div> -->
</div>
