.dashboard-weather-list-item {
  border-bottom-color: rgba(255, 255, 255, 0.25);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-size: 0px;
  font-weight: 400;
  height: 150px;
  line-height: 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: margin-left;
  transition-timing-function: ease;
  white-space: nowrap;
  width: 151px;
  &.active {
    border-color: rgba(255, 255, 255, 0.25);
    border-style: solid;
    border-width: 1px;
    border-bottom-style: none;
  }
  >div {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 0px;
    font-weight: 400;
    height: 150px;
    line-height: 0px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: background-color;
    transition-timing-function: ease;
    white-space: nowrap;
    width: 151px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 0px;
      font-weight: 400;
      height: 150.6px;
      line-height: 0px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 10px;
      text-align: left;
      text-decoration-color: rgb(255, 255, 255);
      text-decoration-line: none;
      text-decoration-style: solid;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: background-color;
      transition-timing-function: ease;
      white-space: nowrap;
      width: 151px;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.25);
    }
    .title {
      box-sizing: border-box;
      cursor: default;
      display: block;
      font-size: 13px;
      font-weight: 400;
      height: 17.6px;
      line-height: 17.992px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      opacity: 1;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: left;
      text-transform: uppercase;
      white-space: nowrap;
      width: 119px;
    }
    >img {
      border-bottom-color: rgba(0, 0, 0, 0);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgba(0, 0, 0, 0);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgba(0, 0, 0, 0);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgba(0, 0, 0, 0);
      border-top-style: none;
      border-top-width: 0px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0);
      cursor: default;
      display: block;
      float: left;
      font-size: 0px;
      font-weight: 400;
      height: 30px;
      line-height: 0px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 10px;
      margin-top: 5px;
      max-width: 100%;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: left;
      white-space: nowrap;
      width: 30px;
    }
    .percipitation {
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0);
      cursor: default;
      display: block;
      font-size: 0px;
      font-stretch: 100%;
      font-style: normal;
      font-variant-caps: normal;
      font-variant-east-asian: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-weight: 400;
      height: 17.6px;
      line-height: 0px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 30px;
      margin-right: 0px;
      margin-top: 4px;
      opacity: 1;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: left;
      white-space: nowrap;
      width: 89px;
      .oi-droplet {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: default;
        display: inline;
        font-size: 9px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-weight: 400;
        height: auto;
        line-height: 17.992px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        white-space: nowrap;
        width: auto;
      }
      .text {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: default;
        display: inline;
        font-size: 13px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-weight: 400;
        height: auto;
        line-height: 17.992px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        white-space: nowrap;
        width: auto;
      }
    }
    .temperatures {
      box-sizing: border-box;
      clear: both;
      cursor: default;
      display: block;
      font-size: 0px;
      font-weight: 400;
      height: 72px;
      line-height: 0px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: left;
      white-space: nowrap;
      width: 119px;
      -webkit-margin-after: 0px;
      -webkit-margin-before: 0px;
      -webkit-margin-end: 0px;
      -webkit-margin-start: 0px;
      -webkit-padding-start: 0px;
      .high {
        box-sizing: border-box;
        cursor: default;
        direction: ltr;
        display: block;
        font-size: 36px;
        font-weight: 400;
        height: 36px;
        line-height: 36px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        white-space: nowrap;
        width: 46.7875px;
        -webkit-margin-after: 0px;
        -webkit-margin-before: 0px;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
      }
      .low {
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.6);
        cursor: default;
        direction: ltr;
        display: block;
        font-size: 36px;
        font-weight: 400;
        height: 36px;
        line-height: 36px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        white-space: nowrap;
        width: 46.7875px;
        -webkit-margin-after: 0px;
        -webkit-margin-before: 0px;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
      }
    }
  }
}